$fontHeaders: 'Oswald', sans-serif;
$fontText: 'Open Sans', sans-serif;

$white: #F9F9F9;
$yellow: #C7A20D;
$blue: #10153B;
$black: #242424;
$grey: #A9A9A9;

$laptop: 1399px;
$tablet: 1199px;
$tablet1: 991px;
$tablet2: 767px;
$mobile: 575px;
$mobile1: 420px;