@import "vars";
@import "mixins";

.events {
  margin: 3rem 0;
  &__next {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  &__main {
    display: flex;
    justify-content: center;
  }
}

.event {
  &__item {
    margin-bottom: 1rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 1.5rem;
    background-color: white;
    @include breakpoint($mobile1) {
      width: 100%;
    }
  }
  &__type {
    font-family: $fontText;
    font-weight: 700;
    font-size: 2rem;
    color: $yellow;
    transition: color 0.1s linear;
    &:hover {
      cursor: pointer;
      color: $black;
    }
  }
  &__name {
    font-family: $fontText;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: $black;
  }
  &__time {
    font-family: $fontText;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: $black;
  }
}

.card {
  &__main {
    display: flex;
    align-items: center;
  }
  &__name {
    font-size: 2rem;
    color: $yellow;
  }
  &__loc {
    font-size: 1.6rem;
  }
  &__desc {
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }
  &__subt {
    font-size: 1.4rem;
  }
}