@import "vars";
@import "vendor/reset";
@import "mixins";

body {
    background-color: $white;
    font-family: $fontText;
    font-size: 1.5rem;
    color: $white;
}

hr {
    color: $black;
    width: 100%;
}

.modal-open {
    overflow: hidden;
    padding-right: 0px;
}

@import "nav";
@import "btn";
@import "header";
@import "offer";
@import "description";
@import "partners";
@import "footer";
@import "modal";
@import "forms";

@import "signup";
@import "events";
@import "leaderboard";
@import "gallery";
@import "about";
@import "contact";
