<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__link">
            <a href="mailto:siamoteamdk@gmail.com">siamoteamdk@gmail.com</a>
            <i class="footer__icon fas fa-envelope"></i>
        </div>
        <div class="footer__link">
            <a href="https://www.facebook.com/SiamoFAarhus">@SiamoFAarhaus</a>
            <i class="footer__icon fab fa-facebook-square"></i>
        </div>
        <div class="footer__link">
            <a href="https://www.instagram.com/siamostreet/">@siamostreet</a>
            <i class="footer__icon fab fa-instagram-square"></i>
        </div>
    </div>
</footer>
