<div class="modal" id="videoModal" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-modal="true"
     role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal__header" id="staticBackdropLabel">Siamo Street Festival - Aftermovie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal__body">
                <div class="modal__video">
                    <iframe id="modalVid" width="1280" height="548" src=""
                            title="SiamoStreet Festival - Aftermovie" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="photoModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="modal__photo" alt="Event Photo">
            </div>
            <div class="modal-footer modal__footer">
                <i class="fas fa-arrow-circle-left"></i>
                <i class="fas fa-arrow-circle-right"></i>
            </div>
        </div>
    </div>
</div>

