.description {
    padding: 4rem 0;
    background-color: #10153B;
}

.description__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.description__header {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 6rem;
    color: #F9F9F9;
}

@media (max-width: 991px) {
    .description__header {
        font-size: 5rem;
    }
}

@media (max-width: 575px) {
    .description__header {
        font-size: 4rem;
    }
}

.description__text {
    max-width: 800px;
    margin: 2rem 0;
    font-size: 1.6rem;
    text-align: left;
    color: #F9F9F9;
}

@media (max-width: 1199px) {
    .description__text {
        max-width: 650px;
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    .description__text {
        max-width: 500px;
        font-size: 1.4rem;
    }
}