.events {
    margin: 3rem 0;
}

.events__next {
    margin-bottom: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.events__main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.event__item {
    margin-bottom: 1rem;
    padding: 2rem 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    background-color: white;
}

@media (max-width: 420px) {
    .event__item {
        width: 100%;
    }
}

.event__type {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #C7A20D;
    transition: color 0.1s linear;
}

.event__type:hover {
    cursor: pointer;
    color: #242424;
}

.event__name {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: #242424;
}

.event__time {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: #242424;
}

.card__main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.card__name {
    font-size: 2rem;
    color: #C7A20D;
}

.card__loc {
    font-size: 1.6rem;
}

.card__desc {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.card__subt {
    font-size: 1.4rem;
}